﻿@model GameStore.Domain.Entities.Game

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    HtmlHelper.ClientValidationEnabled = false;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Admin"))
{
    <div class="panel-body">
        @Html.HiddenFor(m => m.GameId)
        @foreach (var property in ViewData.ModelMetadata.Properties.Where(property => property.PropertyName != "GameId"))
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @if (property.PropertyName == "Description")
                {
                    @Html.TextArea(property.PropertyName, null, new {@class = "form-control", rows = 5})
                }
                else
                {
                    @Html.TextBox(property.PropertyName, null, new {@class = "form-control"})
                }
                @Html.ValidationMessage(property.PropertyName)
            </div>
        }
    </div>
    <div class="panel-footer">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", new { @class = "btn btn-default"})
    </div>
    
}

