﻿@model GameStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Login</h2>
<div class="panel">
    <div class="panel-heading">
        <h3>Enter credentials</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Password</label>
                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            </div>
            <input type="submit" value="Enter" class="btn btn-primary"/>
        }
    </div>
</div>

