﻿@model GameStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "GameStore: Shipping details";
}

<h2>Process your order</h2>
<p>Please enter your shipping information</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Data</h3>
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
    </div>

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control"})
            </div>
        }
    }

    <h3>Options</h3>
    <div class="checkbox">
        <label>Use gift wrap: @Html.EditorFor(x => x.GiftWrap)</label>
    </div>

    @*<div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label>First Address</label>
        @Html.TextBoxFor(x => x.Line1, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label>Second Address</label>
        @Html.TextBoxFor(x => x.Line2, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label>City</label>
        @Html.TextBoxFor(x => x.City, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <label>Country</label>
        @Html.TextBoxFor(x => x.Country, new {@class = "form-control"})
    </div>

    <h3>Options</h3>
    <div class="checkbox">
        <label>Use gift wrap: @Html.EditorFor(x => x.GiftWrap)</label>
    </div>*@

    <input class="btn btn-primary" type="submit" value="Process"/>
}