﻿@model GameStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Gamestore: Cart";
}


<h2>Your Cart</h2>

<table class="table">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Game name</th>
        <th class="text-right">Price</th>
        <th class="text-right">Total Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cartLine in Model.Cart.Lines)
    {
        <tr>
            <td class="text-center">@cartLine.Quantity</td>
            <td class="text-left">@cartLine.Game.Name</td>
            <td class="text-right">@cartLine.Game.Price.ToString("# uah")</td>
            <td class="text-right">@((cartLine.Game.Price*cartLine.Quantity).ToString("# uah"))</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("GameId", cartLine.Game.GameId)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input type="submit" value="Delete" class="btn btn-sm btn-warning"/>
                }
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total Price:</td>
        <td class="text-right">@Model.Cart.ComputeTotalPrice().ToString("# uah")</td>
    </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping...</a>
    @Html.ActionLink("Process your order", "Checkout", null, new { @class = "btn btn-primary" })
</div>